:root {
	--main: #008000;
	--dark: #006400;
}

body {
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

.name {
	font-weight: bold;
}

.downward-gradient {
	background-image: linear-gradient(to bottom, #00000000, #000000ff);
}

.poster {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: -1;
}

img.poster-arrow {
	height: 2em;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: absolute;
	bottom: 0px;
	left: calc(50% - 1em);
	filter: invert(100%) sepia(0%) saturate(7482%) hue-rotate(72deg) brightness(99%) contrast(99%);
}

div.poster-arrow {
	width: 100%;
	position: absolute;
	bottom: 0px;
	height: 4em;
	vertical-align: bottom;
}

.poster-text {
	color: white;
	background-color: #000000c8;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 40px;
	border-radius: 5px;
	text-align: center;
}

.poster-text h1 {
	margin-bottom: 3px;
}

.poster-img {
	width: 100%;
	height: calc(100vh);
	object-fit: cover;
	display: block;
}

.poster-shadow {
	width: 100%;
	height: 0%;
	position: absolute;
	bottom: 2em;
	box-shadow: 0 2px 7px #000000
}

.content {
	padding: 0px 0px 0px 0px;
}

.module-container {
	padding: 25px 45px 25px 45px;
}

.module-title {
	text-align: center;
	color: var(--main);
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.module-cards img {
	display: block;
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.module-cards {
	height: 255px;
	width: 275px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	margin: 25px;
}

.module-image-description {
	padding: 15px;
	line-height: 25px;
}

textarea {
	resize: none;
}

.purple {
	color: white;
	background-color: purple;
}

.module-half {
	margin: 25px;
	padding: 30px;
	width: 450px;
	position: relative;
}

.box-shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.module-icon {
	text-align: center;
	box-shadow: none;
}

.module-icon img {
	width: 25%;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	filter: invert(21%) sepia(87%) saturate(5877%) hue-rotate(119deg) brightness(96%) contrast(103%);
}

form.contact-us {
	line-height: 1.4;
}

form.contact-us input {
	margin: 5px;
}

.button {
	padding: 10px 15px;
	border: none;
	background-color: white;
	color: black;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin: auto;
}

.full-width {
	width: 100%;
}

.footer {
	background-color: #333333;
	padding: 10px 30px 20px 30px;
	color: #efefefef;
	text-align: center;
}

.footer-col {
	width: 25%;
}

.unstyled-list {
	list-style: none;
	padding-left: 0px;
	align-self: center;
}

.footer a {
	text-decoration: none;
	color: #aaaaaa;
}

.footer a:hover {
	color: white;
	transition: 0.2s;
}

hr {
	height:2px;
	border-width:0;
	color:dimgray;
	background-color:dimgray;
}

.module-half p {
	margin-top: 0px;
}

.text-module {
	padding-top: 0px;
	padding-bottom: 0px;
}

th, td {
  padding: 15px;
  text-align: left;
  border: none;
  border-width: 2px;
}

tr:nth-child(even) {
	background-color: #FFEBFF;
}

.small-width {
	width: 250px;
}

.module-container:nth-child(even) {
	background-color: #f6f6f6;
}

.psuedo-poster {
	height: 55px;
}

.nav {
	position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  background-color: var(--main);
}

.nav ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  display: inline;
  float: left;
}

.nav a {
	display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
	background-color: var(--dark);
	transition-duration: 0.5s;
}

.active {
	background-color: #007200;
}

.team-pic img {
	display: block;
	width: 100%;
	height: 255px;
	object-fit: cover;
}

.team-pic {
	height: 255px;
	width: 275px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	margin: auto;

}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 1.5;
}